<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RetrySuite" parallel="false" preserve-order="true">

	<listeners>
		<listener class-name="RetryLogic.MyTransformer" />
	</listeners>
	<test name="RetryTest">
		<classes>
			<class name="BasicGoogleTest.GoogleWord_Test" />
		</classes>
	</test>
</suite>